.timeBtn {
    background-color: transparent;
    border: 2px solid #C0C0C0;
    color: #fff;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}
  
.timeBtn:hover {
    border: 2px solid #16D9E3;
    color: #16D9E3;
}